html {
  font-size: 32px;
  font-family: sans-serif;
}

.todo-row-container {
  display: flex;
  flex-direction: row;
}

.todo-entry {
  width: 100%;

  padding: 1em;

  border: 2px solid blue;
  border-radius: 12px;

  box-shadow: 0.5px 1px 1px blue;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.todo-entry input {
  appearance: none;

  width: 20px;
  height: 20px;

  border-radius: 5px;
  border: 1px solid blue;

  transition: all 0.3s;
}

.todo-entry input:checked {
  background-color: blue;
}

.todo-entry input:hover {
  box-shadow: 0 2px 20px 3px blue;
  cursor: pointer;
}

.delete {
  width: 100px;
  height: inherit;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete button {
  height: 100%;

  background-color: transparent;
  border: none;
}

.delete button:hover {
  background-color: rgb(198, 198, 198);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
